# .gitignore for backend
*.env

# Node dependencies
backend/node_modules/
backend/package-lock.json/
# Environment variables
backend/src/.env
# Logs
backend/src/npm-debug.log*
backend/src/yarn-debug.log*
backend/src/yarn-error.log*
# Data and temp
backend/src/data/*.json
backend/src/data/*.jsonl
backend/src/data/*.csv

backend/package-lock.json

# .gitignore for frontend

frontend/node_modules/
frontend/package-lock.json
frontend/src/dist/
frontend/src/.env